body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-image: url(../img/body_bg.jpg);
    background-size: cover;
}

header {
    padding: 20px 30px;
    background-color: rgba(248,248,248,.9);
    font-size:25px;
    color: #232323;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#form1 {
    font:13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
    box-shadow: 0 0 20px rgba(188, 188, 188, 0.30);
}

#form_wrapper {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
}

fieldset{
    padding:25px 30px 5px;
    background-color: rgba(255,255,255,.9);
    border: none;
    margin: 0;
    border-top:1px solid rgba(0,0,0,.1)
}

.input_label{
    position: relative;
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=number], select{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 39px;
    padding: 6px 40px 6px 10px;
    border: solid 2px #dedede;
    background: #fff;
}

#fieldset3 > label:nth-child(2){
    margin-bottom: 10px;
}

#fieldset3 > label:nth-child(6){
    clear:left;
}

input[type=number]{
    height:20px;
    padding-top: 0;
    padding-bottom: 0;
}
select{
    color: #919191;
}

.input_icon {
    position: absolute;
    top: 5px;
    width: 29px;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    right: 5px;
    padding-left: 3px;
    border-left: solid 1px;
}
.align{
    float: left;
    min-height: 1px;
    width: 50%;
}

#form1 > fieldset:nth-child(3) > div:nth-child(1) > label{
    padding-right:17px;
}
#form1 > fieldset:nth-child(3) > div:nth-child(2) > label{
    margin-left: 17px;
}

input[type=text]:invalid + .fa {
    color: rgba(219, 70, 67, 0.87);
    border-left: solid 1px #ccc;
}

input[type=text]:invalid{
    color: rgba(219, 70, 67, 0.87);
    box-shadow: 0 0 10px #71a37b;
}


input[type=text]:valid{
    border:solid #71a37b 3px;
    opacity: 0.5;
    box-shadow: 0 0 10px #71a37b;
}

input[type=text]:valid + .fa{
    color:#71a37b;
    border-left: solid 1px #ccc;
}

footer{
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 1px solid rgba(0,0,0,.1);
    background: rgba(248,248,248,.9);
    height: 49px;
}

footer > p {
    margin-top: 0;
}

#prev {
    float:left;
    margin-left: 0;
    margin-right: 10px;
}

input[type="button"], input[type="submit"] {
    float: right;
    height: 39px;
    overflow: hidden;
    margin: 10px 0 0 20px;
    padding: 0 25px;
    border: 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #2da5da;
}

input[type="button"]{
    margin:0;
    margin-left:5px;
}

input[type=number]{
    padding:0;
    padding-left:10px;
}

input[type="radio"]{
    float:left;
    margin-left:0;
}
.radio_label {
    display:inline;
}

.inactive{
    display:none;
}

.active{
    display:block;
}

.fa{
    color:#ccc;
}

#fieldset4 > label > input[type=number]{
   width:70px;
   float:right;
}

#fieldset3 > label > input[type=number]{
    width:150px;
    float:right;
}

#fieldset5 > label > input[type=number]{
    width:70px;
    float:right;
}

#fieldset3 > label:nth-child(4) {
    width: 20%;
}

input[type=submit]{
    margin-left:10px;
    margin-top:0;
}